###################Python######################
mysql-connector-python
python3-tk (tkinter)
bcrypt

###################Mysql/Mariadb#######################
mysql-server

**************change mysql root plugin*********
sudo mysql

USE msyql;
ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'new-password';
exit;

sudo service mysql stop
sudo service mysql start
***********************************************


**************allow remote acces***************
- Search for my.cnf in /etc or /etc/mysql
- comment bind-address or edit for desire ip. (found in [mysqld] secction)
- comment "skip-networking" if present.
***********************************************